.header{
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 1.9em;
    color:#eef3db;  
    display: flex;
    justify-content: center;
    text-align: center;
}

body{
    background-color: #022a30;
}

.myclass{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    color: #033f47;
    padding:5px 8px 5px 8px;
    border-radius: 10px;
    font-weight: bolder;
    font-size: 1em;
    text-align: center;
    background-color: #e0f780;
}

button{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    color: #033f47;
    padding:5px 8px 5px 8px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    background-color: #e0f780;
}

footer{
    color:#eef3db;
    padding: 100px 0px;
}

.class2{
    justify-content: center;display: flex;
}